.env
.venv/
instance/
__pycache__/
*.py[cod]
.pytest_cache/
*.sqlite3
*.egg-info/
*.log
*.log.*

# macOS filesystem metadata
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows filesystem metadata
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.stackdump

# Linux filesystem metadata
.directory
.Trash-*
.nfs*
